<div class="row justify-content-start">
    <div class="col-8 pt-2">
        <h1 class="pl-5">San Sebastián Atoyaquillo</h1>
    </div>
    <div class="col-4">
        <div class="row col-12 justify-content-end">
            <div class="navbar navbar-dark bg-rojo float-right">
                <form class="form-iniline">
                    <input type="search" class="form-control" placeholder="Buscar" aria-label="Buscar">
                </form>
            </div>
        </div>
    </div>
</div>