<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row p-4">
                <div class="col-9" id="section">
                    <div class="row mr-2 p-3 bg-negro justify-content-between">
                        <div class="col-12">
                            <h1 class="text-white">
                                ¿Quienes Somos?
                            </h1>
                            <p class="text-white">La localidad de San Sebastián Atoyaquillo está situado en el Municipio de San Miguel Achiutla (en el Estado de Oaxaca). Hay 119 habitantes. San Sebastián Atoyaquillo está a 1900 metros de altitud. Población en San Sebastián
                                Atoyaquillo En la localidad hay 50 hombres y 69 mujeres. El ratio mujeres/hombres es de 1,380, y el índice de fecundidad es de 500 hijos por mujer. Del total de la población, el 0,00% proviene de fuera de el Estado de Oaxaca.
                                El 21,01% de la población es analfabeta (el 18,00% de los hombres y el 23,19% de las mujeres). El grado de escolaridad es del 5.23 (5.58 en hombres y 5 en mujeres). Variaciones de población en San Sebastián Atoyaquillo
                                desde 2005 En el año 2005, en San Sebastián Atoyaquillo había 131 habitantes. Es decir, ahora hay -12 personas menos (una variación de -9,16%). De ellas, hay -7 hombres menos (una variación de -12,28%), y -5 mujeres menos
                                (una variación de -6,76%). Cultura indígena en San Sebastián Atoyaquillo El 8,404% de la población es indígena, y el 8,405% de los habitantes habla una lengua indígena. El 8,406% de la población habla una lengua indígena
                                y no habla español. Desempleo y economía en San Sebastián Atoyaquillo El 1,687% de la población mayor de 12 años está ocupada laboralmente (el 1,688% de los hombres y el 1,689% de las mujeres). Viviendas e infraestructuras
                                en San Sebastián Atoyaquillo En San Sebastián Atoyaquillo hay 74 viviendas. De ellas, el 92,86% cuentan con electricidad, el 80,95% tienen agua entubada, el 97,62% tiene excusado o sanitario, el 73,81% radio, el 23,81%
                                television, el 26,19% refrigerador, el 19,05% lavadora, el 7,14% automóvil, el 0,00% una computadora personal, el 2,38% teléfono fijo, el 2,38% teléfono celular, y el 0,00% Internet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <app-aside></app-aside>
                </div>
            </div>
        </div>
    </div>
</div>