<div class="row bg-negro">
    <div class="col-12">
        <div id="carouselDeImagenes" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="/./src/assets/1.jpg" class="d-block w-100 img-default" alt="First Slide">
                </div>
                <div class="carousel-item">
                    <img src="/./src/assets/2.jpg" class="d-block w-100 img-default" alt="Second Slide">
                </div>
                <div class="carousel-item">
                    <img src="/./src/assets/1.jpg" class="d-block w-100 img-default" alt="Thirth Slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>