<div class="row d-flex justify-content-center mb-4">
    <pre>Month: {{ model.month }}.{{ model.day }}.{{ model.year }}</pre>
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
</div>
<div class="row bg-rojo p-3">
    <div class="col-12 align-items-center justify-content-start">
        <div class="row">
            <div class="container bg-white-a pt-2">
                <div class="col-12">
                    <section>
                        <h5>Jornada de Salud y servicios visita en la comunidad.</h5>
                        <p>1 Años <b>SALUD</b></p>
                    </section>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="container bg-white-a pt-2">
                <div class="col-12">
                    <section>
                        <h5>Entrega de resultados del proyecto: Adolescencia y Juventud indígena en Querétaro.</h5>
                        <p>1 Años <b>PRENSA</b></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
