<div class="navbar navbar-expand-lg navbar-light justify-content-center text-center">
    <ul class="navbar-nav">
        <li class="nav-item active"><a href="#" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Historia</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Calendario</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Atractivos Turísticos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Mapa</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Festividades y Costumbres</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Iniciar Sesión</a></li>
    </ul>
</div>