<app-navbar-system></app-navbar-system>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <p>Registro de nueva festividad.</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="titulo" [(ngModel)]="festividad.titulo" placeholder="Titulo" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="descripcion" [(ngModel)]="festividad.descripcion" placeholder="Descripción" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-info" (click)="edit ? updateFestividad() : saveFestividad()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>