<div class="container-fluid m-2">
    <div class="navbar navbar-expand-lg navbar-light justify-content-center text-center">
        <ul class="navbar-nav">
            <li class="nav-item"><a [routerLink]="['/sistema/users']" class="nav-link">Usuarios</a></li>
            <li class="nav-item"><a [routerLink]="['/sistema/personal']" class="nav-link">Personal</a></li>
            <li class="nav-item"><a [routerLink]="['/sistema/avisos']" class="nav-link">Avisos</a></li>
            <li class="nav-item"><a [routerLink]="['/sistema/pagos']" class="nav-link ">Pagos</a></li>
            <li class="nav-item "><a [routerLink]="['/sistema/festividades']" class="nav-link ">Festividades</a></li>
            <li class="nav-item "><a [routerLink]="['/sistema/carousel']" class="nav-link ">Carrusel</a></li>
        </ul>
    </div>
</div>
