<div class="row mx-2 mt-4">
    <div class="col-12">
        <app-carousel></app-carousel>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row p-4">
                <div class="col-9" id="section">
                    <app-section></app-section>
                </div>
                <div class="col-3">
                    <app-aside></app-aside>
                </div>
            </div>
        </div>
    </div>
</div>