<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Blog dedicado a la información relacionado al municipio</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Busqueda

                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="¿Que buscas?">
                            </div>
                            <button class="form-control">Buscar</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Filtro
                        </div>
                        <div class="panel-body">


                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Archivo
                        </div>
                        <div class="panel-body">


                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>Ultimas Entradas
                </div>
                <div class="panel-body">
                    <p>Todavia no hay entradas que mostrar</p>

                </div>
            </div>
        </div>
    </div>
</div>