<div class="container-fluid">
    <div class="row m-4">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row bg-rojo">
        <div class="col-12 align-items-center justify-content-center">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="row mx-4 mt-4">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row mx-4 mt-4">
        <div class="col-12">
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row p-4">
                    <div class="col-9" id="section">
                        <app-section></app-section>
                    </div>
                    <div class="col-3">
                        <app-aside></app-aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-rojo">
        <div class="col-12 align-items-center justify-content-center">
            <app-footer></app-footer>
        </div>
    </div>
</div>