:root {
    --blue: #1d4f77;
    --indigo: #414b85;
    --purple: #6944a0;
    --pink: #91415c;
    --red: #851f1b;
    --orange: #8b5824;
    --yellow: #8d832a;
    --green: #288a51;
    --teal: #36837b;
    --cyan: #416b8d;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #205b8b;
    --secondary: #6c757d;
    --success: #288850;
    --info: #426d91;
    --warning: #8f852e;
    --danger: #881f1b;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

body {
    background-color: white;
}

.jumbotron {
    text-align: center;
    background-color: #881f1b;
    color: white;
}

.panel-heading {
    background-color: #881f1b !important;
    color: white !important;
}

.panel-body {
    color: black !important;
}

.navbar {
    background-color: black;
}

.navbar-brand:link,
.navbar-brand:visited {
    color: white !important;
}

.navbar-brand:hover,
navbar-brand:active {
    color: white !important;
}

#navbar li a:link,
#navbar li a:visited {
    color: white !important;
}

#navbar li a:hover,
#navbar li a:active {
    color: #881f1b !important;
}