<div class="container-fluid">
    <div class="row m-4">
        <div class="col-12">
            <app-header [titulo]="title"></app-header>
        </div>
    </div>
    <div class="row bg-rojo">
        <div class="col-12 align-items-center justify-content-center">
            <app-navbar></app-navbar>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="row">
        <div class="col-12 bg-negro text-white">
            <app-footer></app-footer>
        </div>
    </div>