<div class="row mt-3">
    <div class="col-md-12">
        <header>
            <div id="logowrap">
                <h2>Galería</h2>
            </div>

        </header>
        <section id="galeria">
            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Desarrollo-de-aplicaciones-web-con-Angular-7_232.aspx">
                    <figure>
                        <img src="assets/curso-angular.jpg" />
                        <figcaption>Curso online de Angular</figcaption>
                    </figure>
                </a>
            </article>
            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Docker-y-Kubernetes-desarrollo-y-despliegue-de-aplicaciones-basadas-en-contenedores_237.aspx">
                    <figure>
                        <img src="assets/curso-docker.png" />
                        <figcaption>Curso de Docker y Kubernetes</figcaption>
                    </figure>
                </a>
            </article>
            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-SharePoint-2013-de-principio-a-fin-(PDF)_176.aspx">
                    <figure>
                        <img src="assets/libro-Sharepoint-2013.jpg" />
                        <figcaption>Libro SharePoint 2013</figcaption>
                    </figure>
                </a>
            </article>

            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-SharePoint-2016-de-principio-a-fin_223.aspx">
                    <figure>
                        <img src="assets/libro-Sharepoint-2016.jpg" />
                        <figcaption>Libro SharePoint 2016</figcaption>
                    </figure>
                </a>
            </article>

            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Desarrollo-de-aplicaciones-de-gesti%C3%B3n-empresariales-con-Velneo---Curso-Oficial_238.aspx">
                    <figure>
                        <img src="assets/curso-velneo-online.png" />
                        <figcaption>Curso online de Velneo</figcaption>
                    </figure>
                </a>
            </article>

            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Desarrollo-de-aplicaciones-con-la-plataforma-Java_231.aspx">
                    <figure>
                        <img src="assets/curso-java-online.jpg" />
                        <figcaption>Curso online de Java</figcaption>
                    </figure>
                </a>
            </article>
            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Especialista-en-programaci%C3%B3n-Web-con-HTML5,-CSS3,-JavaScript-y-jQuery_235.aspx">
                    <figure>
                        <img src="assets/curso-front-end.png" />
                        <figcaption>Curso Front End</figcaption>
                    </figure>
                </a>
            </article>
            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Desarrollo-de-aplicaciones-m%C3%B3viles-para-iPhone-y-Android-con-Xamarin_160.aspx">
                    <figure>
                        <img src="assets/curso-xamarin.jpg" />
                        <figcaption>Curso de Xamarin</figcaption>
                    </figure>
                </a>
            </article>

            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Programaci%C3%B3n-con-ASP.NET-SignalR-2.0-(PDF)_217.aspx">
                    <figure>
                        <img src="assets/Libro-SignalR.jpg" />
                        <figcaption>Libro de SignalR</figcaption>
                    </figure>
                </a>
            </article>
            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Desarrollo-Web-con-ASP.NET-Core-2-MVC_227.aspx">
                    <figure>
                        <img src="assets/curso-asp-net-core-mvc.png" />
                        <figcaption>Curso ASP.NET Core MVC</figcaption>
                    </figure>
                </a>
            </article>
            <article>
                <a target="_blank" href="https://www.campusmvp.es/catalogo/Product-Especialista-en-programaci%C3%B3n-de-bases-de-datos-con-SQL-Server_236.aspx">
                    <figure>
                        <img src="assets/curso-sql-server.png" />
                        <figcaption>Curso de SQL Server</figcaption>
                    </figure>
                </a>
            </article>


        </section>
    </div>
</div>