<app-navbar></app-navbar>
<div class="container-fluid">
     <div class="row">
      <div class="col-12">
        <app-carousel></app-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 justify-content-center">
          <app-header></app-header>
      </div>
  </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-9">
                    <app-section></app-section>
                </div>
                <div class="col-3">
                    <app-aside></app-aside>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-items-center justify-content-center">
            <app-footer></app-footer>
        </div>
    </div>
</div>
