<hr>
<div class="container">
    <h5 class="text-center">Bienvenido al Sistema de Información, aquí podrás ver los pagos que has realizado.</h5>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 pt-4">
            <div class="card text-center">
                <div class="card-header bg-rojo d-flex justify-content-between align-items-center">
                    Tus pagos registrados
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width='10px'>ID</th>
                                <th>Concepto</th>
                                <th>Cantidad</th>
                                <th>Fecha de Pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pago of pagos">
                                <td>{{pago.id}}</td>
                                <td>{{pago.concepto}}</td>
                                <td>{{pago.cantidad}}</td>
                                <td>{{pago.created_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>